.navbar {
  background-color: red;
  height: 90px;
}
.container {
    width: 100%;
    margin-top: -50px;
    padding: 50px 0 0 0; /*set left/right padding according to needs*/
    box-sizing: border-box;
}
.platforms {
  background-color: red;
}
